/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-size: 62.5%;

}
section {
     border: 1px solid purple;
}


/******************************************
/* LAYOUT
/*******************************************/
/* NAVIGATION */
header {
     display: flex;
     height: 60px;
     width: 100%;
     align-items: center;
     padding: 0 1rem;
     position: fixed;
     top: 0;
     background-color: blueviolet;
}
header a {
     padding: .5rem;
}
.headerLinks {
     margin-left: auto;
}
section {
     padding: 1rem;
}

/* HOME */
#HOME {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
     /* Accounts for space taken up by header */
     padding-top: 60px;
}
footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 500px) {
     header {
          flex-direction: column;
     }
     .headerLinks {
          margin: 0;
     }
     
}