/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}
a {
     text-decoration: none;
     color: black;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
     font-size: 62.5%;
}
body {
     font-size: 1.3rem;
     font-family: 'Ubuntu';

}
h1 {
     font-family: 'Pacifico', 'cursive';
     font-size: 2.8rem;
     background: -webkit-linear-gradient(left, rgb(255,185,97), rgb(239,92,0), rgb(210,6,0));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
.cursiveFont {
     font-family: 'Pacifico', cursive;
}
a:hover {
     color: orangered;
}
/******************************************
/* LAYOUT
/*******************************************/
/* **************************NAV************************** */
header {
     display: flex;
     height: 80px;
     width: 100%;
     align-items: center;
     padding: 0 4rem;
     position: fixed;
     top: 0;
     background-color: white;
     box-shadow:  0 3px 20px rgba(90,90,90,.4);
     border-radius: 0 0 1.7rem 1.7rem;
}
header a {
     padding: 1rem;
     font-size: 1.7rem;
     font-weight: 500;
}
.headerLinks {
     margin-left: auto;
}
#API, #TEST {
     /* padding: 1rem; */
     /* Accounts for space taken up by header */
     padding-top: 75px;
}
#API, #TEST {
     /* height: 800px; */
}
#API h2, #TEST h2 {
     text-align: center;
     font-size: 5rem;
}
/* **************************HOME************************** */
#HOME {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
     background: url(../v960-ning-22.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     
}
#HOME h2 {
     font-size: 5rem;
     text-align: center;
     color:white;
     font-family: 'Ubuntu', sans-serif;
     /* font-weight: 700; */
     
}
#HOME a {
     padding: 1rem;
     background-color: white;
     border-radius: .5rem;
     box-shadow: 3px 3px 5px 2px rgba(60,60,60,.4);
     font-weight: 700;
     font-size: 2rem;
     /* font-family: 'Pacifico'; */
     color: orangered;
     
}
.homeTextContainer {
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     align-items: center;
     /* background-color: rgba(249,255,255, .99); */
     padding: 1rem;
     max-width: 800px;
     
     border-radius: 2rem;
     /* box-shadow: 0 0 60px 0 rgba(90,90,90,.4); */
}
.flagGlobe {
     width: 40%;
     max-width: 200px;
     height: auto;
     padding: 1.3rem;
     background-color: white;
     border-radius: 20rem;
}

/* **************************API DOCUMENTATION************************** */

#API h3 {
     text-align: center;
     font-size: 3rem;
     margin-top: 5rem;
}
#API {
     /* text-align: center; */
}
.description {
     padding: 0 3rem;
     font-size: 1.8rem;
     text-align: center;
     max-width: 900px;
     margin: 0 auto;
     line-height: 3rem;
}
.description a {
     text-decoration: underline;

}
.endpoints {
     padding: 0 3rem;
     width: fit-content;
     margin: 0 auto;
}
.endpoints p {
     font-size: 1.5rem;
}
p.url {
     font-size: 1.7rem;
     font-weight: 500;
}
.url span {
     color: orangered;
     font-weight: 800;
}
.url + p {
     margin-bottom: 3rem;
}
table {
     width: 80%;
     margin: 0 auto;
     /* border: 1px solid black; */
     /* padding: 5rem; */
}
th {
     width: 50%;
     font-size: 1.8rem;   
}
td {
     border: 2px solid black;
     padding: 1.5rem;
     font-size: 1.4rem;
     
}
.property {
     text-align: center;
     font-size: 1.7rem;
     font-weight: 800;
     /* padding-right: 6rem; */
}
td span {
     color: orangered;
     font-weight: 500;
     font-size: 1.2rem;
}
.note {
     text-align: center;
     padding: 3rem;
}
.codeSamples {
     display: flex;
     margin: 2rem 4rem;
}
.codeBlock code {
     display: block;
     margin: 4rem;
     font-size: 1.5rem;
     /* width: 100%; */
}
.codeBlock {
     overflow-x: scroll;
     width: 50%;
     
}
.codeBlock h4 {
     font-size: 1.6rem;
     text-align: center;
     color: orangered;
     margin-top: 0;
}
/* **************************SEARCH************************** */
.searchResults {
     display: flex;
     flex-wrap: wrap;
     padding: 4rem;
     justify-content: center;
     box-shadow: inset 0 0 60px 0 rgba(90,90,90,.4);
     min-height: 400px;
}
.search-items {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 3rem;
}

input {
     margin: 0;
     width: 300px;
     border: 2px solid black;
     border-radius: .5rem;
     height: 3rem;
     padding: 1.5rem;
}
.search-items img {
     margin-right: 1rem;
}
.searchTitle {
     margin-bottom: 1rem;
}
#TEST p {
     text-align: center;
     font-size: 1.5rem;
}
.countryCard {
     display: flex;
     padding: 1rem;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background: white;
     box-shadow: 0 0 5px rgba(60,60,60,.4);
     width: 250px;
     max-height: 300px;
     
     margin: 1rem;
     white-space: pre-wrap; /* CSS3 */    
     white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
     white-space: -pre-wrap; /* Opera 4-6 */    
     white-space: -o-pre-wrap; /* Opera 7 */    
     word-wrap: break-word; /* Internet Explorer 5.5+ */

     
}
.countryCard a {
     /* white-space: pre-wrap; */
     display: block;
     width: 100%;
     text-align: center;
     margin-top: 1rem;
     text-decoration: underline;
}
.keyValue {
     margin: .5rem 0;
}

.countryName {
     font-size: 1.6rem;
     font-weight: 700;
}
.wikiLink {
     
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 570px) {
     header {
          flex-direction: column;
     }
     .headerLinks {
          margin: 0;
     }
     h1 {
          margin: .8rem 0 1.1rem 0;
          font-size: 2.5rem;
     }
     
}
@media screen and (max-width: 800px) {
     #HOME h2 {
          font-size: 4rem;
     }
     #HOME a {
          font-size: 1.6rem;
     }
     .codeSamples {
          flex-direction: column;
     }
     .codeBlock {
          width: 100%;
          margin-bottom: 3rem;
     }
}

@media screen and (max-width: 330px){
     h1{
          font-size: 2.3rem;

     }
     #API h2 {
          font-size: 4.5rem;
     }
     input {
          width: 250px;
     }
     
     
}